In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
import math as time
import mysql.connector 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
 
import pymysql
from sqlalchemy import create_engine

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root",
  database="test"
)

In [4]:
df_visits = pd.read_sql('SELECT * FROM tblvisits', con=mydb)
df_patients = pd.read_sql("Select * from tblpatients",con=mydb)
df_patients_prior_exp = pd.read_sql("Select * from tblpatientspriorexposure",con=mydb)
df_pregnacies = pd.read_sql("Select * from tblpregnancies ",con=mydb)
df_tests = pd.read_sql("Select * from tbltests",con=mydb)
df_status = pd.read_sql("Select * from tblstatus",con=mydb)
df_appointments = pd.read_sql("Select * from tblappointments",con=mydb)
df_medication = pd.read_sql("Select * from tblmedication",con=mydb)
df_exposed_infants = pd.read_sql("Select * from tblexposedinfants",con=mydb)
df_exposed_infants_tests = pd.read_sql("Select * from tblexposedinfanttests",con=mydb)
df_exposed_infants_visits = pd.read_sql("Select * from tblexposedinfantvisits",con=mydb)
df_exposed_infants_medication = pd.read_sql("Select * from tblexposedinfantmedication",con=mydb)
fac=pd.read_sql("select c.regioncode,c.districtcode,c.facilitycode from tblconfig c",con=mydb)

fac['regioncode'] = fac.regioncode.astype(int)
fac['districtcode'] = fac.districtcode.astype(str)
fac['facilitycode'] = fac.facilitycode.astype(str)

In [5]:
fac.head()

   regioncode districtcode facilitycode
0           0            A           20

In [6]:
df_visits.head()

,PatientID,VisitDate,VisitTypeCode,NowPregnant,FamilyPlanningID,FunctionalStatusCode,WHOStage,TBStatusCode,IPTReasonCode,ARVStatusCode,ARVReasonCode,ARVCode,Notes,StaffID,UserNumber,TheTimeStamp,ExportID
0,00-02-46-2017-A-00004,2017-04-24,P,None,C,W,2.0,None,NaN,2.0,208.0,26.0,None,79.0,97,2017-04-26 09:31:05,1.0
1,00-02-46-2017-A-00004,2017-05-22,P,None,C,W,2.0,Y,NaN,3.0,NaN,26.0,None,30.0,97,2017-05-22 14:23:57,1.0
2,00-02-46-2017-A-00004,2017-06-21,P,None,C,W,4.0,Y,NaN,3.0,NaN,26.0,None,30.0,96,2017-06-21 10:43:49,1.0
3,00-02-46-2017-A-00004,2017-07-17,P,None,C,W,4.0,Y,2.0,3.0,NaN,26.0,None,6.0,97,2017-07-17 12:02:18,1.0
4,00-03-27-2015-A-00191,2016-10-26,P,None,C,W,2.0,Y,NaN,3.0,NaN,26.0,None,25.0,96,2016-10-31 15:58:47,1.0

## Facility Details

In [7]:
faility_name=fac['facilitycode']
district_name=fac['districtcode']
province_name=fac['regioncode']
facility=str(faility_name[0])
district=str(district_name[0])
province = str(province_name[0])
province="0"+province
Facility_code=province+district+facility

In [8]:
Facility_code

'00A20'

In [9]:
## Facility
n=df_visits.shape[0]
df_visits['Facilitycode']=fac['facilitycode']
faility_name=df_visits['Facilitycode']
faility_name[1:n] = faility_name[0]
df_visits['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_visits['Districtcode']=fac['districtcode']
district_name=df_visits['Districtcode']
district_name[1:n] = district_name[0]
df_visits['Districtcode']=district_name
## Province
df_visits['Provincedoce']=fac['regioncode']
province_name=df_visits['Provincedoce']
province_name[1:n] = province_name[0]
df_visits['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [10]:
df_visits.head()

,PatientID,VisitDate,VisitTypeCode,NowPregnant,FamilyPlanningID,FunctionalStatusCode,WHOStage,TBStatusCode,IPTReasonCode,ARVStatusCode,ARVReasonCode,ARVCode,Notes,StaffID,UserNumber,TheTimeStamp,ExportID,Facilitycode,Districtcode,Provincedoce
0,00-02-46-2017-A-00004,2017-04-24,P,None,C,W,2.0,None,NaN,2.0,208.0,26.0,None,79.0,97,2017-04-26 09:31:05,1.0,20,A,0.0
1,00-02-46-2017-A-00004,2017-05-22,P,None,C,W,2.0,Y,NaN,3.0,NaN,26.0,None,30.0,97,2017-05-22 14:23:57,1.0,20,A,0.0
2,00-02-46-2017-A-00004,2017-06-21,P,None,C,W,4.0,Y,NaN,3.0,NaN,26.0,None,30.0,96,2017-06-21 10:43:49,1.0,20,A,0.0
3,00-02-46-2017-A-00004,2017-07-17,P,None,C,W,4.0,Y,2.0,3.0,NaN,26.0,None,6.0,97,2017-07-17 12:02:18,1.0,20,A,0.0
4,00-03-27-2015-A-00191,2016-10-26,P,None,C,W,2.0,Y,NaN,3.0,NaN,26.0,None,25.0,96,2016-10-31 15:58:47,1.0,20,A,0.0

In [11]:
df_patients.head()

,PatientID,FirstName,SurName,NationalID,DateOfBirth,Sex,MaritalStatus,MedInsSchemeName,MedInsMemberName,MedInsNumber,...,HIVTestTypeID,HIVTestReasonID,HIVTestNotes,HIVTestLocationCode,DrugAllergies,FileRef,Notes,UserNumber,TheTimeStamp,ExportID
0,00-02-46-2017-A-00004,Alexander,Chipere,None,1968-03-13,Male,M,None,None,None,...,A,I,None,04-02-0A,None,April 2017-49,None,97,2017-04-26 09:26:42,1.0
1,00-03-27-2015-A-00191,Ronald,Chagwedera,None,1988-09-04,Male,S,None,None,None,...,A,I,None,None,None,Dec 2015,None,96,2016-10-31 15:55:36,NaN
2,00-04-02-2014-A-00015,Jordan,Kembo,63-1134198-J-67,1980-11-16,Male,M,N/A,N/A,N/A,...,None,None,None,None,None,May2014-124,None,93,2016-08-15 12:22:27,NaN
3,00-0A-01-2016-A-00012,Felistas,Mugweni,27-097584-V-47,1972-03-28,Female,D,None,None,None,...,A,I,None,00-0F-10,None,Sep2016,None,91,2019-01-08 11:56:52,NaN
4,00-0A-05-2006-A-00817,Alice,White,63-416044-G-32,1958-06-05,Female,W,None,None,None,...,A,I,None,None,nil,Jun2014-42,None,92,2014-05-12 13:29:34,NaN

In [12]:
n=df_patients.shape[0]
df_patients['Facilitycode']=fac['facilitycode']
faility_name=df_patients['Facilitycode']
faility_name[1:n] = faility_name[0]
df_patients['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_patients['Districtcode']=fac['districtcode']
district_name=df_patients['Districtcode']
district_name[1:n] = district_name[0]
df_patients['Districtcode']=district_name
## Province
df_patients['Provincedoce']=fac['regioncode']
province_name=df_patients['Provincedoce']
province_name[1:n] = province_name[0]
df_patients['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [13]:
df_patients.head()

,PatientID,FirstName,SurName,NationalID,DateOfBirth,Sex,MaritalStatus,MedInsSchemeName,MedInsMemberName,MedInsNumber,...,HIVTestLocationCode,DrugAllergies,FileRef,Notes,UserNumber,TheTimeStamp,ExportID,Facilitycode,Districtcode,Provincedoce
0,00-02-46-2017-A-00004,Alexander,Chipere,None,1968-03-13,Male,M,None,None,None,...,04-02-0A,None,April 2017-49,None,97,2017-04-26 09:26:42,1.0,20,A,0.0
1,00-03-27-2015-A-00191,Ronald,Chagwedera,None,1988-09-04,Male,S,None,None,None,...,None,None,Dec 2015,None,96,2016-10-31 15:55:36,NaN,20,A,0.0
2,00-04-02-2014-A-00015,Jordan,Kembo,63-1134198-J-67,1980-11-16,Male,M,N/A,N/A,N/A,...,None,None,May2014-124,None,93,2016-08-15 12:22:27,NaN,20,A,0.0
3,00-0A-01-2016-A-00012,Felistas,Mugweni,27-097584-V-47,1972-03-28,Female,D,None,None,None,...,00-0F-10,None,Sep2016,None,91,2019-01-08 11:56:52,NaN,20,A,0.0
4,00-0A-05-2006-A-00817,Alice,White,63-416044-G-32,1958-06-05,Female,W,None,None,None,...,None,nil,Jun2014-42,None,92,2014-05-12 13:29:34,NaN,20,A,0.0

In [14]:
df_patients_prior_exp.head()

,PatientID,DrugTypeID,RegimenCode,DateStarted,DateLastTakenOrCompleted,Notes,ExportID
0,00-02-46-2017-A-00004,COT,NaN,2017-01-01,NaT,None,1.0
1,00-03-27-2015-A-00191,ARV,26.0,2015-12-30,NaT,None,1.0
2,00-03-27-2015-A-00191,COT,NaN,2015-12-23,NaT,960,1.0
3,00-04-02-2014-A-00015,ARV,27.0,2014-05-21,2015-07-20,None,1.0
4,00-0A-01-2016-A-00012,ARV,26.0,2016-09-06,NaT,None,NaN

In [15]:
n=df_patients_prior_exp.shape[0]
df_patients_prior_exp['Facilitycode']=fac['facilitycode']
faility_name=df_patients_prior_exp['Facilitycode']
faility_name[1:n] = faility_name[0]
df_patients_prior_exp['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_patients_prior_exp['Districtcode']=fac['districtcode']
district_name=df_patients_prior_exp['Districtcode']
district_name[1:n] = district_name[0]
df_patients_prior_exp['Districtcode']=district_name
## Province
df_patients_prior_exp['Provincedoce']=fac['regioncode']
province_name=df_patients_prior_exp['Provincedoce']
province_name[1:n] = province_name[0]
df_patients_prior_exp['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [16]:
df_patients_prior_exp.head()

,PatientID,DrugTypeID,RegimenCode,DateStarted,DateLastTakenOrCompleted,Notes,ExportID,Facilitycode,Districtcode,Provincedoce
0,00-02-46-2017-A-00004,COT,NaN,2017-01-01,NaT,None,1.0,20,A,0.0
1,00-03-27-2015-A-00191,ARV,26.0,2015-12-30,NaT,None,1.0,20,A,0.0
2,00-03-27-2015-A-00191,COT,NaN,2015-12-23,NaT,960,1.0,20,A,0.0
3,00-04-02-2014-A-00015,ARV,27.0,2014-05-21,2015-07-20,None,1.0,20,A,0.0
4,00-0A-01-2016-A-00012,ARV,26.0,2016-09-06,NaT,None,NaN,20,A,0.0

In [17]:
n=df_pregnacies.shape[0]
df_pregnacies['Facilitycode']=fac['facilitycode']
faility_name=df_pregnacies['Facilitycode']
faility_name[1:n] = faility_name[0]
df_pregnacies['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_pregnacies['Districtcode']=fac['districtcode']
district_name=df_pregnacies['Districtcode']
district_name[1:n] = district_name[0]
df_pregnacies['Districtcode']=district_name
## Province
df_pregnacies['Provincedoce']=fac['regioncode']
province_name=df_pregnacies['Provincedoce']
province_name[1:n] = province_name[0]
df_pregnacies['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [18]:
df_pregnacies.head()

,PatientID,DueDate,Notes,ANCnumber,DateOfBirth,PregnancyOutcomeID,NumberLiveBorn,BirthLocation,DeliveryModeID,AssistanceID,PresentationID,TearID,LDProphylaxisARVCode,ExportID,Facilitycode,Districtcode,Provincedoce
0,00-0A-0C-2006-A-00410,2015-07-26,None,None,NaT,None,NaN,None,None,None,None,None,NaN,1.0,20,A,0.0
1,00-0A-0C-2008-A-08853,2014-09-15,None,None,NaT,None,NaN,None,None,None,None,None,NaN,1.0,20,A,0.0
2,00-0A-0C-2009-A-06467,2014-09-06,None,None,NaT,None,NaN,None,None,None,None,None,NaN,NaN,20,A,0.0
3,00-0A-0C-2009-A-10999,2014-08-11,None,00-0A-20-2014-P-00178,NaT,None,NaN,None,None,None,None,None,NaN,1.0,20,A,0.0
4,00-0A-0C-2009-A-15216,2014-09-27,None,None,2014-09-27,L,3.0,Harare Hospital,None,None,None,None,NaN,NaN,20,A,0.0

In [19]:
n=df_tests.shape[0]
df_tests['Facilitycode']=fac['facilitycode']
faility_name=df_tests['Facilitycode']
faility_name[1:n] = faility_name[0]
df_tests['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_tests['Districtcode']=fac['districtcode']
district_name=df_tests['Districtcode']
district_name[1:n] = district_name[0]
df_tests['Districtcode']=district_name
## Province
df_tests['Provincedoce']=fac['regioncode']
province_name=df_tests['Provincedoce']
province_name[1:n] = province_name[0]
df_tests['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [20]:
df_tests.head()

,TheID,PatientID,TestTypeID,TestDate,ResultDate,ResultNumeric,ResultNotes,RecievedDate,ExportID,Facilitycode,Districtcode,Provincedoce
0,2,01-01-38-2010-A-00029,WGT,2014-03-19,2014-03-19,59.0,None,NaT,1.0,20,A,0.0
1,3,00-0A-20-2014-A-00011,WGT,2014-03-05,2014-03-05,76.0,None,NaT,1.0,20,A,0.0
2,4,00-0A-20-2014-A-00011,CD4,2014-02-10,NaT,362.0,None,NaT,1.0,20,A,0.0
3,5,00-0A-20-2014-A-00011,WGT,2014-02-19,2014-02-19,76.0,None,NaT,1.0,20,A,0.0
4,6,00-0A-20-2014-A-00011,CD4,2014-01-10,2014-03-05,362.0,None,NaT,1.0,20,A,0.0

In [21]:
n=df_status.shape[0]
df_status['Facilitycode']=fac['facilitycode']
faility_name=df_status['Facilitycode']
faility_name[1:n] = faility_name[0]
df_status['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_status['Districtcode']=fac['districtcode']
district_name=df_status['Districtcode']
district_name[1:n] = district_name[0]
df_status['Districtcode']=district_name
## Province
df_status['Provincedoce']=fac['regioncode']
province_name=df_status['Provincedoce']
province_name[1:n] = province_name[0]
df_status['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [22]:
df_status.head()

,PatientID,StatusDate,Status,TransferOutToWhere,Notes,ExportID,Facilitycode,Districtcode,Provincedoce
0,00-02-46-2017-A-00004,2017-04-24,Attending this clinic,None,None,1.0,20,A,0.0
1,00-02-46-2017-A-00004,2017-05-22,Attending this clinic,None,None,1.0,20,A,0.0
2,00-02-46-2017-A-00004,2017-06-21,Attending this clinic,None,None,1.0,20,A,0.0
3,00-02-46-2017-A-00004,2017-07-17,Attending this clinic,None,None,1.0,20,A,0.0
4,00-02-46-2017-A-00004,2017-08-05,Died,None,None,1.0,20,A,0.0

In [23]:
n=df_appointments.shape[0]
df_appointments['Facilitycode']=fac['facilitycode']
faility_name=df_appointments['Facilitycode']
faility_name[1:n] = faility_name[0]
df_appointments['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_appointments['Districtcode']=fac['districtcode']
district_name=df_appointments['Districtcode']
district_name[1:n] = district_name[0]
df_appointments['Districtcode']=district_name
## Province
df_appointments['Provincedoce']=fac['regioncode']
province_name=df_appointments['Provincedoce']
province_name[1:n] = province_name[0]
df_appointments['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [24]:
df_appointments.head()

,PatientID,DateOfAppointment,DateAppointmentGiven,Cancelled,Notes,ExportID,Facilitycode,Districtcode,Provincedoce
0,00-02-46-2017-A-00004,2017-05-22 00:00:00,2017-04-24,0,None,1.0,20,A,0.0
1,00-02-46-2017-A-00004,2017-06-22 00:00:00,2017-05-22,0,None,1.0,20,A,0.0
2,00-02-46-2017-A-00004,2017-07-20 00:00:00,2017-06-21,0,None,1.0,20,A,0.0
3,00-02-46-2017-A-00004,2017-10-18 00:00:00,2017-07-17,0,None,1.0,20,A,0.0
4,00-03-27-2015-A-00191,2017-02-28 00:00:00,2016-10-26,0,None,NaN,20,A,0.0

In [25]:
n=df_medication.shape[0]
df_medication['Facilitycode']=fac['facilitycode']
faility_name=df_medication['Facilitycode']
faility_name[1:n] = faility_name[0]
df_medication['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_medication['Districtcode']=fac['districtcode']
district_name=df_medication['Districtcode']
district_name[1:n] = district_name[0]
df_medication['Districtcode']=district_name
## Province
df_medication['Provincedoce']=fac['regioncode']
province_name=df_medication['Provincedoce']
province_name[1:n] = province_name[0]
df_medication['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [26]:
df_medication.head()

,PatientID,VisitDate,DrugTypeID,QuantityDispensed,PercentAdherence,Notes,ExportID,Facilitycode,Districtcode,Provincedoce
0,00-02-46-2017-A-00004,2017-04-24,ARV,30.0,NaN,None,1.0,20,A,0.0
1,00-02-46-2017-A-00004,2017-05-22,ARV,30.0,NaN,None,1.0,20,A,0.0
2,00-02-46-2017-A-00004,2017-05-22,COT,120.0,NaN,None,1.0,20,A,0.0
3,00-02-46-2017-A-00004,2017-06-21,ARV,30.0,90.0,None,1.0,20,A,0.0
4,00-02-46-2017-A-00004,2017-06-21,COT,120.0,90.0,None,1.0,20,A,0.0

In [27]:
n=df_exposed_infants.shape[0]
df_exposed_infants['Facilitycode']=fac['facilitycode']
faility_name=df_exposed_infants['Facilitycode']
faility_name[1:n] = faility_name[0]
df_exposed_infants['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_exposed_infants['Districtcode']=fac['districtcode']
district_name=df_exposed_infants['Districtcode']
district_name[1:n] = district_name[0]
df_exposed_infants['Districtcode']=district_name
## Province
df_exposed_infants['Provincedoce']=fac['regioncode']
province_name=df_exposed_infants['Provincedoce']
province_name[1:n] = province_name[0]
df_exposed_infants['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [28]:
df_exposed_infants.head()

,ExposedInfantID,MotherPatientID,FullName,Sex,DateOfBirth,InfantStatusCode,InfantStatusDate,ChildPatientID,DateOfDeath,UserNumber,TheTimeStamp,ExportID,Facilitycode,Districtcode,Provincedoce
0,00-02-07-2016-A-00021-C01,00-02-07-2016-A-00021,Missing Magore,Female,2016-05-14,NEG,2017-03-14,,None,0,2017-05-24 10:20:39,1.0,20,A,0.0
1,00-0A-02-2015-A-02274-C01,00-0A-02-2015-A-02274,Ashley Chiwaridzo,Male,2015-06-26,NEG,2015-10-14,,None,96,2017-03-10 13:50:14,1.0,20,A,0.0
2,00-0A-0C-2007-A-01617-C01,00-0A-0C-2007-A-01617,Joseph Tinashe Muzanenhamo,Male,2012-07-27,NEG,2014-04-02,,None,94,2014-06-24 09:31:07,1.0,20,A,0.0
3,00-0A-0C-2007-A-04669-C01,None,Munenyasha Mabeta,Male,2016-01-10,None,NaT,None,None,97,2017-03-09 13:01:55,1.0,20,A,0.0
4,00-0A-0C-2008-A-05199-C01,00-0A-0C-2008-A-05199,Winfilda Magoronga,Female,2010-08-28,NEG,2011-03-24,,None,94,2014-08-04 12:00:56,1.0,20,A,0.0

In [29]:
n=df_exposed_infants_tests.shape[0]
df_exposed_infants_tests['Facilitycode']=fac['facilitycode']
faility_name=df_exposed_infants_tests['Facilitycode']
faility_name[1:n] = faility_name[0]
df_exposed_infants_tests['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_exposed_infants_tests['Districtcode']=fac['districtcode']
district_name=df_exposed_infants_tests['Districtcode']
district_name[1:n] = district_name[0]
df_exposed_infants_tests['Districtcode']=district_name
## Province
df_exposed_infants_tests['Provincedoce']=fac['regioncode']
province_name=df_exposed_infants_tests['Provincedoce']
province_name[1:n] = province_name[0]
df_exposed_infants_tests['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [30]:
df_exposed_infants_tests.head()

,ExposedInfantID,TestDate,TestTypeID,TestResultID,DateResultsObtained,DateResultsGiven,ExportID,Facilitycode,Districtcode,Provincedoce
0,00-02-07-2016-A-00021-C01,2016-08-02,P,None,NaT,NaT,1.0,20,A,0.0
1,00-02-07-2016-A-00021-C01,2017-03-14,A,NEG,2017-03-14,2017-03-14,1.0,20,A,0.0
2,00-0A-02-2015-A-02274-C01,2015-10-14,P,NEG,2015-10-14,2015-10-14,1.0,20,A,0.0
3,00-0A-0C-2007-A-01617-C01,2014-04-02,A,NEG,2014-04-02,2014-04-02,1.0,20,A,0.0
4,00-0A-0C-2008-A-05199-C01,2010-12-31,P,NEG,2010-12-31,2010-12-31,1.0,20,A,0.0

In [31]:
n=df_exposed_infants_visits.shape[0]
df_exposed_infants_visits['Facilitycode']=fac['facilitycode']
faility_name=df_exposed_infants_visits['Facilitycode']
faility_name[1:n] = faility_name[0]
df_exposed_infants_visits['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_exposed_infants_visits['Districtcode']=fac['districtcode']
district_name=df_exposed_infants_visits['Districtcode']
district_name[1:n] = district_name[0]
df_exposed_infants_visits['Districtcode']=district_name
## Province
df_exposed_infants_visits['Provincedoce']=fac['regioncode']
province_name=df_exposed_infants_visits['Provincedoce']
province_name[1:n] = province_name[0]
df_exposed_infants_visits['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [32]:
df_exposed_infants_visits.head()

,ExposedInfantID,VisitDate,VisitTypeCode,Weight,FeedingPracticeID,ImmunizationsUpToDate,NextVisitDate,StaffID,UserNumber,TheTimeStamp,ExportID,Facilitycode,Districtcode,Provincedoce
0,00-02-07-2016-A-00021-C01,2016-05-14,B,2.8,EBF,NaN,None,NaN,0,2017-05-24 10:20:39,1.0,20,A,0.0
1,00-02-07-2016-A-00021-C01,2016-05-17,IM,NaN,EBF,-1.0,None,37.0,0,2017-05-24 10:22:08,1.0,20,A,0.0
2,00-02-07-2016-A-00021-C01,2016-08-02,IM,4.5,EBF,-1.0,None,37.0,0,2017-05-24 10:23:19,1.0,20,A,0.0
3,00-02-07-2016-A-00021-C01,2016-09-07,IM,5.4,EBF,-1.0,None,37.0,0,2017-05-24 10:24:50,1.0,20,A,0.0
4,00-02-07-2016-A-00021-C01,2016-10-07,IM,5.5,EBF,-1.0,None,37.0,0,2017-05-24 10:25:46,1.0,20,A,0.0

In [33]:
n=df_exposed_infants_medication.shape[0]
df_exposed_infants_medication['Facilitycode']=fac['facilitycode']
faility_name=df_exposed_infants_medication['Facilitycode']
faility_name[1:n] = faility_name[0]
df_exposed_infants_medication['Facilitycode']=faility_name
filename= faility_name[0]
## District
df_exposed_infants_medication['Districtcode']=fac['districtcode']
district_name=df_exposed_infants_medication['Districtcode']
district_name[1:n] = district_name[0]
df_exposed_infants_medication['Districtcode']=district_name
## Province
df_exposed_infants_medication['Provincedoce']=fac['regioncode']
province_name=df_exposed_infants_medication['Provincedoce']
province_name[1:n] = province_name[0]
df_exposed_infants_medication['Provincedoce']=province_name

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [34]:
df_exposed_infants_medication.head()

,ExposedInfantID,VisitDate,DrugTypeID,NumDaysDispensed,ExportID,Facilitycode,Districtcode,Provincedoce
0,00-0A-02-2015-A-02274-C01,2015-06-26,NVP,30.0,1.0,20,A,0.0
1,00-0A-02-2015-A-02274-C01,2015-07-06,COT,30.0,1.0,20,A,0.0
2,00-0A-02-2015-A-02274-C01,2015-08-07,COT,30.0,1.0,20,A,0.0
3,00-0A-02-2015-A-02274-C01,2015-08-09,COT,30.0,1.0,20,A,0.0
4,00-0A-02-2015-A-02274-C01,2015-10-14,COT,30.0,1.0,20,A,0.0

## Exporting all test

In [35]:
dir_visits="C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/visits/"
dir_prio_exp="C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/patient prior exposure/"
dir_preg="C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/pregnancies/"
dri_patients ="C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/patients/"
dir_tests = 'C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/tests/'
dir_status ='C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/status/'
dir_appointments ='C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/appointments/'
dir_medication = 'C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/medication/'
dir_exposed_infants = 'C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/exposed infants/'
dir_exposed_infants_tests ='C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/exposed infants tests/'
dir_exposed_infants_visits = 'C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/exposed infants visits/'
dir_exposed_infants_medication ='C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/exposed infant medication/'

In [36]:
ext = ".csv"

In [37]:
visit_path =dir_visits+Facility_code+ext
prio_exp_path =dir_prio_exp+Facility_code+ext
preg_path=dir_preg+Facility_code+ext
pat_parth=dri_patients+Facility_code+ext
test_path=dir_tests+Facility_code+ext
status_path=dir_status+Facility_code+ext
app_path=dir_appointments+Facility_code+ext
med_path=dir_medication+Facility_code+ext
exp_inf_path=dir_exposed_infants+Facility_code+ext
exp_inf_test_path=dir_exposed_infants_tests+Facility_code+ext
exp_inf_visits_path=dir_exposed_infants_visits+Facility_code+ext
exp_inf_med_path=dir_exposed_infants_medication+Facility_code+ext

In [38]:
exp_inf_med_path

'C:/Users/lmbano/Documents/Monthly activity/2019/All ePMS datasets/exposed infant medication/00A20.csv'

In [39]:
export_visits = df_visits.to_csv (visit_path , index = None, header=True)
export_prio_expos= df_patients_prior_exp.to_csv (prio_exp_path , index = None, header=True)
export_pregs = df_pregnacies.to_csv (preg_path , index = None, header=True)
export_pats= df_patients.to_csv (pat_parth , index = None, header=True)
export_tests= df_tests.to_csv (test_path , index = None, header=True)
export_stutaus= df_status.to_csv (status_path , index = None, header=True)
export_apps= df_appointments.to_csv (app_path , index = None, header=True)
export_meds= df_medication.to_csv (med_path , index = None, header=True)
export_exp_infs= df_exposed_infants.to_csv (exp_inf_path , index = None, header=True)
export_exp_infs_tests= df_exposed_infants_tests.to_csv (exp_inf_test_path , index = None, header=True)
export_exp_infs_visits= df_exposed_infants_visits.to_csv (exp_inf_visits_path , index = None, header=True)
export_exp_infs_meds= df_exposed_infants_medication.to_csv (exp_inf_med_path , index = None, header=True)

In [40]:
mydb.close()