In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
from datetime import datetime

In [2]:
sqlEngine       = create_engine('mysql+pymysql://root:password@127.0.0.1:3306/test')
dbConnection    = sqlEngine.connect()

In [3]:
data = pd.read_sql("select PatientID,DateOfBirth,Sex from tblpatients", dbConnection);

In [4]:
data.head()

               PatientID DateOfBirth     Sex
0  00-0A-01-2017-A-00038  1979-09-15    Male
1  00-0A-0C-2009-A-10009  1975-10-12    Male
2  00-0A-0C-2010-A-00472  1966-05-28    Male
3  00-0A-0C-2011-A-00150  1958-07-06    Male
4  00-0A-0C-2011-A-00726  1970-04-02  Female

In [5]:
data_va = pd.read_sql("select tblvisits.PatientID,tblpatients.DateOfBirth,tblpatients.Sex,tblvisits.VisitDate,tblvisits.VisitTypeCode,tblsetuptbstatus.TBStatusDescription,tblsetuparvstatuscodes.ARVStatusDescription from tblvisits JOIN tblpatients ON tblvisits.PatientID = tblpatients.PatientID JOIN tblsetuptbstatus ON tblvisits.TBStatusCode=tblsetuptbstatus.TBStatusCode JOIN tblsetuparvstatuscodes ON tblvisits.ARVStatusCode =tblsetuparvstatuscodes.ARVStatusCode ", dbConnection);

In [6]:
data_va.head()

,PatientID,DateOfBirth,Sex,VisitDate,VisitTypeCode,TBStatusDescription,ARVStatusDescription
0,00-0A-01-2017-A-00038,1979-09-15,Male,2019-09-05,P,No signs (patient screened and TB not suspected),Continue ARV
1,00-0A-01-2017-A-00038,1979-09-15,Male,2020-01-16,TS,No signs (patient screened and TB not suspected),Continue ARV
2,00-0A-01-2017-A-00038,1979-09-15,Male,2020-02-10,P,No signs (patient screened and TB not suspected),Continue ARV
3,00-0A-01-2017-A-00038,1979-09-15,Male,2020-04-07,P,No signs (patient screened and TB not suspected),Continue ARV
4,00-0A-01-2017-A-00038,1979-09-15,Male,2020-07-06,P,No signs (patient screened and TB not suspected),Continue ARV

In [7]:
med = pd.read_sql("select t.PatientID,t.VisitDate,t.DrugTypeID from tblmedication t where t.DrugTypeID = 'IPT' OR t.DrugTypeID = 'FLU' OR t.DrugTypeID = 'TPT'", dbConnection);

In [8]:
med.head()

               PatientID  VisitDate DrugTypeID
0  07-07-29-2010-A-06173 2015-11-03        FLU
1  08-02-0A-2015-A-00249 2020-08-26        FLU
2  08-05-0A-2006-A-00943 2020-07-22        FLU
3  08-05-0A-2007-A-01233 2019-12-31        FLU
4  08-05-0A-2007-A-01514 2017-12-28        FLU

In [9]:
data_v = pd.merge(data_va, med, how='left', on=['PatientID', 'VisitDate'])

In [10]:
data_v.head()

,PatientID,DateOfBirth,Sex,VisitDate,VisitTypeCode,TBStatusDescription,ARVStatusDescription,DrugTypeID
0,00-0A-01-2017-A-00038,1979-09-15,Male,2019-09-05,P,No signs (patient screened and TB not suspected),Continue ARV,NaN
1,00-0A-01-2017-A-00038,1979-09-15,Male,2020-01-16,TS,No signs (patient screened and TB not suspected),Continue ARV,NaN
2,00-0A-01-2017-A-00038,1979-09-15,Male,2020-02-10,P,No signs (patient screened and TB not suspected),Continue ARV,NaN
3,00-0A-01-2017-A-00038,1979-09-15,Male,2020-04-07,P,No signs (patient screened and TB not suspected),Continue ARV,NaN
4,00-0A-01-2017-A-00038,1979-09-15,Male,2020-07-06,P,No signs (patient screened and TB not suspected),Continue ARV,NaN

In [11]:
fac=pd.read_sql("select c.regioncode,c.districtcode,c.facilitycode from tblconfig c",dbConnection)

In [ ]:
facii=pd.read_sql("select * from facilities",dbConnection)

In [ ]:
facii.head()

In [ ]:
reg=pd.read_sql("select * from tblsetupregions",dbConnection)

In [ ]:
dist=pd.read_sql("select * from tblsetupdistricts",dbConnection)

In [ ]:
dist.head()

In [ ]:
#tblconfig.regioncode=tblsetupregions.RegionCode

In [ ]:
n=data_v.shape[0]

In [ ]:
## Facility
data_v['Facilitycode']=fac['facilitycode']
faility_name=data_v['Facilitycode']
faility_name[1:n] = faility_name[0]
data_v['Facilitycode']=faility_name
filename= faility_name[0]
## District
data_v['Districtcode']=fac['districtcode']
district_name=data_v['Districtcode']
district_name[1:n] = district_name[0]
data_v['Districtcode']=district_name
## Province
data_v['Provincedoce']=fac['regioncode']
province_name=data_v['Provincedoce']
province_name[1:n] = province_name[0]
data_v['Provincedoce']=province_name

In [ ]:
data_v.head()

In [ ]:
a = fac['regioncode']
b = fac['districtcode']
c = fac['facilitycode']

In [ ]:
a.value_counts().index
b.value_counts().index
c.value_counts().index

In [ ]:
s = a[0]
ss = int(s)
t = b[0]
u = c[0]

In [ ]:
facility1 = facii[(facii['ProvinceCode'] == ss) & (facii['DistrictCode'] == t) & (facii['FacilityCode'] == u)]

In [ ]:
facility2 = facility1[['ProvinceCode', 'DistrictCode', 'FacilityCode', 'FacilityName']]

In [ ]:
facility3 = pd.merge(facility2, reg.rename(columns={'RegionCode':'ProvinceCode'}), on=['ProvinceCode'])

In [ ]:
facility4 = pd.merge(facility3, dist.rename(columns={'RegionCode':'ProvinceCode'}), on=['ProvinceCode','DistrictCode'])

In [ ]:
facility=pd.read_sql("select tblconfig.regioncode,tblconfig.districtcode,tblconfig.facilitycode,tblsetupregions.Region,tblsetupdistricts.District,facility.FacilityName from tblconfig JOIN tblsetupregions ON tblconfig.regioncode=tblsetupregions.RegionCode JOIN tblsetupdistricts ON tblconfig.districtcode=tblsetupdistricts.DistrictCode AND tblsetupregions.RegionCode=tblsetupdistricts.RegionCode JOIN facility ON tblconfig.facilitycode = facility.FacilityCode AND tblconfig.districtcode=facility.DistrictID AND tblsetupdistricts.DistrictCode = facility.DistrictID AND facility.ProvinceID=tblsetupregions.RegionCode",dbConnection)

In [ ]:
facility5 = facility4.rename(columns={'ProvinceCode': 'regioncode', 'DistrictCode': 'districtcode', 'FacilityCode': 'facilitycode'})

In [ ]:
facility = facility5[['regioncode','districtcode','facilitycode','Region','District','FacilityName']]

In [ ]:
facility.head()

In [ ]:
## Facility
data_v['FacilityName']=facility['FacilityName']
faility_name=data_v['FacilityName']
faility_name[1:n] = faility_name[0]
data_v['FacilityName']=faility_name
filename= faility_name[0]
## District
data_v['District']=facility['District']
district_name=data_v['District']
district_name[1:n] = district_name[0]
data_v['District']=district_name
## Province
data_v['Province']=facility['Region']
province_name=data_v['Province']
province_name[1:n] = province_name[0]
data_v['Province']=province_name

In [ ]:
data_v['Date'] = pd.to_datetime(data_v['VisitDate'],errors='coerce')

In [ ]:
data_v['Period'] = pd.DatetimeIndex(data_v['Date']).month

In [ ]:
del data_v['Date']

In [ ]:
today = datetime.today()

In [ ]:
data_v['Age'] = data_v['DateOfBirth'].apply(
               lambda x: today.year - x.year - 
               ((today.month, today.day) < (x.month, x.day)) 
               )

In [ ]:
data_v = data_v[['PatientID','DateOfBirth','Age','Sex','VisitDate','Period','VisitTypeCode','TBStatusDescription','ARVStatusDescription','Facilitycode','Districtcode','Provincedoce','FacilityName','District','Province']]

In [ ]:
data_v.head()

In [ ]:
s = facility['FacilityName'].str[:45].value_counts().index

In [ ]:
b=s[0]

In [ ]:
data_v.to_csv('/home/ignatious/Documents/tb screening/%s.csv'%b, encoding='utf-8', index=False)

In [ ]:
dbConnection.close()