In [772]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
import math as time
import mysql.connector 
import matplotlib.pyplot as plt
%matplotlib inline

In [773]:
 
import pymysql
from sqlalchemy import create_engine

In [774]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="test"
)

In [775]:
df = pd.read_sql("Select * from tbltests",con=mydb)

In [776]:
df.head()

,TheID,PatientID,TestTypeID,TestDate,ResultDate,ResultNumeric,ResultNotes
0,6,03-07-27-2016-A-00001,WGT,2016-01-01,2016-01-01,49.3,None
1,8,03-07-27-2016-A-00002,WGT,2016-01-02,2016-01-02,63.0,None
2,9,03-07-27-2016-A-00002,TMP,2016-01-02,2016-01-02,36.0,None
3,10,03-07-27-2016-A-00002,BPD,2016-01-02,2016-01-02,69.0,None
4,11,03-07-27-2016-A-00002,BPS,2016-01-02,2016-01-02,113.0,None

In [777]:
fac=pd.read_sql("select c.regioncode,c.districtcode,c.facilitycode from tblconfig c",con=mydb)

In [778]:
fac

   regioncode districtcode facilitycode
0           3            7           27

In [779]:
n=df.shape[0]

In [780]:
n

8492

In [781]:
## Facility
df['Facilitycode']=fac['facilitycode']
faility_name=df['Facilitycode']
faility_name[1:n] = faility_name[0]
df['Facilitycode']=faility_name
filename= faility_name[0]
## District
df['Districtcode']=fac['districtcode']
district_name=df['Districtcode']
district_name[1:n] = district_name[0]
df['Districtcode']=district_name
## Province
df['Provincedoce']=fac['regioncode']
province_name=df['Provincedoce']
province_name[1:n] = province_name[0]
df['Provincedoce']=province_name

/home/devoop/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/devoop/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/devoop/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [782]:
df.head()

,TheID,PatientID,TestTypeID,TestDate,ResultDate,ResultNumeric,ResultNotes,Facilitycode,Districtcode,Provincedoce
0,6,03-07-27-2016-A-00001,WGT,2016-01-01,2016-01-01,49.3,None,27,7,3.0
1,8,03-07-27-2016-A-00002,WGT,2016-01-02,2016-01-02,63.0,None,27,7,3.0
2,9,03-07-27-2016-A-00002,TMP,2016-01-02,2016-01-02,36.0,None,27,7,3.0
3,10,03-07-27-2016-A-00002,BPD,2016-01-02,2016-01-02,69.0,None,27,7,3.0
4,11,03-07-27-2016-A-00002,BPS,2016-01-02,2016-01-02,113.0,None,27,7,3.0

In [783]:
df.tail()

,TheID,PatientID,TestTypeID,TestDate,ResultDate,ResultNumeric,ResultNotes,Facilitycode,Districtcode,Provincedoce
8487,8496,03-07-27-2019-A-00035,WGT,2019-06-19,2019-06-19,63.0,None,27,7,3.0
8488,8497,03-07-27-2019-A-00035,BPS,2019-06-19,2019-06-19,112.0,None,27,7,3.0
8489,8498,03-07-27-2019-A-00035,BPD,2019-06-19,2019-06-19,72.0,None,27,7,3.0
8490,8499,03-07-27-2019-A-00035,PUL,2019-06-19,2019-06-19,74.0,None,27,7,3.0
8491,8500,03-07-27-2019-A-00035,RES,2019-06-19,2019-06-19,19.0,None,27,7,3.0

In [784]:
df.TestTypeID.value_counts()

WGT    5123
TMP     664
BPS     663
BPD     565
PUL     411
RES     373
VRL     306
CD4     256
HGM      89
HBX      22
WBC       6
          5
OTH       4
CD%       4
ALT       1
Name: TestTypeID, dtype: int64

# Exporting all test

In [785]:
filename='kadzere'

In [786]:
filename = df.to_csv (r'/media/devoop/GINA/Abstraction June 2019/Abstraction2/Mashonaland East/kadzere.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path